.card__container {
  background: #fff;
  margin: 1rem;
  overflow: hidden;
  border: 1px solid #ccc;
  padding-bottom: 1rem;
}

.image__container {
  width: 100%;
  aspect-ratio: 1/1;
  background: #000;
}

.post__image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.card__info {
  margin-top: 0.5rem;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__info__left {
  display: flex;
  align-items: center;
}

.avatar {
  display: inline-block;
  height: 32px;
  aspect-ratio: 1/1;
  border-radius: 100%;
  overflow: hidden;
}

.avatar__image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.user__name {
  margin-left: 0.5rem;
  font-weight: bold;
}

.follow__btn {
  color: blueviolet;
  margin-left: 1rem;
}

.post__info {
  padding: 0.5rem 1rem;
}

.post__caption {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.post__comments {
  padding: 0 1rem;
}

.comments__btn {
  display: flex;
  justify-content: flex-end;
}




/*  <---------------------------------------------- styles for comments ------------------------------------------------------------>  */
.comment__name{
  color: #000;
  text-align: left;
  margin: 0;
  font-size: 2rem;
  padding-bottom: 1rem;
  display: block;
}
.comment__div {
  margin: 0;
  flex-grow: 1;
  flex-shrink: 1;
  border-radius: 7px;
  background-color: white;
  padding: 1rem;
  margin-block: 1rem;
  border:2px solid #000;
}

.userInfo {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.comment__container{
  border-radius: 30px;
  max-width: 800px;
  text-align: center;
  display: inline-block;
  margin-left: 3%;
  margin-right:3%;
}



.userInfo > img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
}

.username {
  font-weight: bold;
  margin-right: 10px;
}

.commentContent {
  margin: 0;
  text-align: left;
  padding-top: 2%;
}

@media only screen and (max-width: 768px) {
  .userInfo > img {
    width: 22px;
    height: 22px;
    margin-right: 5px;
  }

  .username {
    font-size: 3vw;
    margin-right: 5px;
  }

  .comment__div {
  
    border-radius: 5px;
  }
  

  .commentContent{
      font-size: 2.5vw;
  }
}
