.back_button{
    color:#fff;
    background-color: var(--icon-color);
    opacity:0.8;
    transition: 0.4s ease-in-out;
    height:2.8rem;
    position: absolute;
    left:0;
}

.back_button:hover{
    opacity: 1;
    color:var(--icon-color);
    background-color: #fff;
    cursor: pointer;
    transform: scale(1.1);
}

.container{
    
        background-color: #fff;
        display: flex;
        justify-content: center;
        height: 2.8rem;
        position: relative;
}

.pageName{
    font-size: 1.5rem;
    font-weight: 500;
    margin-block:auto
}