.comment__container{
  margin-top: 0.5rem;
  margin-bottom: 0.6rem;  
  padding : 0 0.4rem 0 0.4rem; 
  border-radius: 30px;
}

.comment__heading{
  font-size: 3rem; /* fallback size */
  font-size: 4vw; /* responsive size based on viewport width */
  margin: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.comment__div {
  margin: 0;
  flex-grow: 1;
  flex-shrink: 1;
  border-radius: 7px;
  background-color: white;
  padding-bottom: 4%;
  padding-left: 2%;
  padding-right: 3%;
  padding-top: 1.7%;
  margin-top: 1.3%;
  margin-bottom: 1.3%;
  border:1px solid #000;
}


.userInfo {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.userInfo > img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
}

.username {
  font-weight: bold;
  margin-right: 10px;
}

.commentContent {
  margin: 0;
  text-align: left;
  padding-top: 0.5rem;
}

.comment__viewmore{
  padding: 0 1rem 0 1rem;
  color: #000;
  text-align: right;
  font-size: 1.3rem; /* fallback size */
  font-size: 1.6vw; /* responsive size based on viewport width */
  display: inline-block;
  margin-left: auto;
  transition: all 0.3s ease-in-out;
  margin-top: 0.4rem;;
}

.comment__viewmore__container{
  display: flex;
}

.comment__viewmore:hover{
  transform: scale(1.1);
  cursor: pointer;
}

@media only screen and (max-width: 770px) {
  .userInfo > img {
    width: 22px;
    height: 22px;
    margin-right: 5px;
  }

  .username {
    font-size: 3vw;
    font-size: 0.8rem;
    margin-right: 5px;
  }

  .comment__div {
  
    border-radius: 5px;
  }
  

  .commentContent{
      font-size: 2.5vw;
      font-size: 0.78rem;
  }

  .comment__viewmore{
    font-size: 0.8rem;
  }
}
