.dropdown {
  position: absolute;
  top: calc(100% + 1rem);
  right: 0;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
  z-index: 99;
}

.dropdownItem {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5c6aa;
  padding: 0.5rem 1rem;
}
