.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  height: 72px;
  background-color: #fff;
  box-shadow: 0 0 10px 1px var(--post-color);
}

.icons {
  margin-right: 5px;
  display: flex;
}

.icons > a {
  margin-right: 15px;
  color: var(--icon-color);
}

.sunny {
  margin-right: 30px;
  color: var(--icon-color);
}

.toggle {
  color: var(--icon-color);
}

.leftNavbar {
  display: flex;
  align-items: center;
  color: var(--icon-color);
}

.leftNavbarTitle {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--icon-color);
}

.dropdownComp {
  position: relative;
}

.sidebarContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 80vw;
  height: 100%;
  box-shadow: 0 0 0 1000vw rgba(0, 0, 0, 0.5);
  z-index: 99;
  background-color: #fdf6f0;
}

/* media queries */
/*
@media screen and (min-width: 1000px) {
  .toggle {
    display: none;
  }
  .media {
    display: flex;
  }
  .itm {
    padding: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
  }
  .rightNavbar {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
}

@media screen and (max-width: 1000px) {
  .media {
    display: none;
  }
}

@media screen and (min-width: 750px) {
  .sidebarContainer {
    width: 60%;
  }
}

@media screen and (min-width: 1500px) {
  .sidebarContainer {
    width: 40%;
  }
} */
