.post {
  padding: 1rem;
  box-shadow: 0 0 32px 2px var(--post-color);
  text-align: center;
  background-color: var(--post-background-color);
  border-radius: 0.5rem;
  margin-inline: 2%;
  margin-bottom: 1rem;
}

.posts__container {
  text-align: center;
}

.post__add {
  text-align: right;
  height: auto !important;
  width: 40px !important;
}

.post > img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.post__username {
  padding-left: 1rem;
  /* padding-top: 2%; */
  font: 1.1em sans-serif;
}

.post__cards {
  display: flex;
  align-items: center;
}

.post__icon {
  display: flex;
  align-items: center;
}

.post__icons {
  color: var(--post-icon-color);
  height: auto !important;
  width: 40px !important;
}

.comment__button {
  margin-left: auto;
  padding-right: 5%;
  border-radius: 25%;
  padding: 0.25%;
  padding-bottom: 0.5%;
  border: 0;
}

.post__add {
  margin-left: auto;
  color: var(--icon-color);
}

.post__cards > img {
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
  width: var(--post-imagesize); /* set the width of the image */
  height: var(--post-imagesize); /* set the height of the image */
}

.post__content {
  overflow-wrap: break-word;
  text-align: left;
  padding: 3% 0 3% 0;
}

.trendingBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  height: 4rem;
  aspect-ratio: 1/1;
  font-size: 2rem;
  background-color: #ff5252;
  border: none;
  border-radius: 100%;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 0 100px 1px #000;
}

.comment__icon {
  width: auto;
}

.spacer {
  height: 60px;
}

/* 
@media (min-width: 766px) {
  .post {
    border-radius: 20px;
    padding-bottom: 2.1%;
    padding-top: 1.6%;
    box-shadow: 0 0 64px 4px var(--post-color);
  }
  .post > img {
    width: 100%;
    height: auto;
  }
  .trendingBtn {
    bottom: 60px;
    right: 60px;
    font-size: 220%;
  }

  .post__username {
    font-size: 2rem;
  }

  .post__cards > img {
    height: 70px;
    width: 70px;
  }
}

@media (min-width: 900px) {
  .post__content {
    font-size: 130%;
  }
  .post__large {
    height: auto;
    width: 60px;
  }
  .comment__button {
    margin-left: auto;
    padding-right: 5%;
    border-radius: 25%;
    padding: 0.5%;
    padding-bottom: 1%;
    border: 0;
  }
}
@media screen and (max-width: 475px) {
  .trendingBtn {
    padding: 2% 1% 2% 1%;
    border-radius: 10%;
  }
} */
