.post {
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 0 32px 2px var(--post-color);
  background-color: var(--post-background-color);
}

.post:not(:first-child) {
  margin-top: 1rem;
}

.posts__container {
  margin-top: 2rem;
}

.post__add {
  text-align: right;
}

.post > img {
  width: 100%;
  height: auto;
}

.post__username {
  padding-left: 8px;
  /* padding-top: 2%; */
  font: 1em sans-serif;
}

.post__header {
  display: flex;
  align-items: center;
  border: thin;
  padding-block: 0.5rem;
}

.post__icon {
  display: flex;
  align-items: center;
  padding-block: 0.5rem;
}

.post__icons {
  margin-right: 7%;
  color: var(--post-icon-color);
}

.comment__button {
  margin-left: auto;
  padding-right: 5%;
  border-radius: 25%;
  padding: 0.25%;
  padding-bottom: 0.5%;
  border: 0;
}

.post__add {
  margin-left: auto;
  color: var(--post-icon-color);
}

.post__header > img {
  border-radius: 50%;
  object-fit: cover;
  width: var(--post-imagesize); /* set the width of the image */
  height: var(--post-imagesize); /* set the height of the image */
}

.post__content {
  overflow-wrap: break-word;
  text-align: left;
}

.trendingBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1;
  border-radius: 25px;
  padding-left: 2%;
  padding-right: 2%;
  font-size: 110%;
  background-color: #ff5252;
  border: 2px solid #ffffff;
  /* border: 3px dotted green; */
  color: white;
  cursor: pointer;
}

.comment__icon {
  width: auto;
}
/* 
@media (min-width: 766px) {
  .post {
    border-radius: 20px;
    padding-bottom: 2.1%;
    padding-top: 1.6%;
    box-shadow: 0 0 64px 4px var(--post-color);
  }
  .post > img {
    width: 100%;
    height: auto;
  }
  .trendingBtn {
    bottom: 60px;
    right: 60px;
    font-size: 220%;
  }

  .post__username {
    font-size: 2rem;
  }

  .post__cards > img {
    height: 70px;
    width: 70px;
  }
}

@media (min-width: 900px) {
  .post__content {
    font-size: 130%;
  }
  .post__large {
    height: auto;
    width: 60px;
  }
  .comment__button {
    margin-left: auto;
    padding-right: 5%;
    border-radius: 25%;
    padding: 0.5%;
    padding-bottom: 1%;
    border: 0;
  }
}
@media screen and (max-width: 475px) {
  .trendingBtn {
    height: 15vh;
    width: 15vh;
    border-radius: 50%;
  }
} */
