.sidebarBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: sticky;
}

.item {
  margin-top: 1rem;
  border-radius: 4px;
  width: 92%;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.item1 {
  background-color: #74b9ff;
}

.item2 {
  background-color: #a29bfe;
}

.item3 {
  background-color: #55efc4;
}

.item4 {
  background-color: #ff7675;
}

.item5 {
  background-color: #fd79a8;
}

.closeBtn {
  background-color: #ff3838;
  border: none;
}

@media screen and (min-width: 600px) {
  .item1 {
    font-size: 1.5rem;
  }
  .item2 {
    font-size: 1.5rem;
  }
  .item3 {
    font-size: 1.5rem;
  }
  .item4 {
    font-size: 1.5rem;
  }
  .item5 {
    font-size: 1.5rem;
  }
  .closeSidebar {
    font-size: 1.5rem;
  }
}
