
.sidebarBox{
    /* margin-top: 3vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.item1{
    margin-top: 3vh;
    border: none;
    border-radius:8px;
    width: 80%;
    height: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #74b9ff;
    cursor: pointer;
    
}
.item2{
    margin-top: 3vh;
    border: none;
    border-radius:8px;
    width: 80%;
    height: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #a29bfe;
    cursor: pointer;

    
}
.item3{
    margin-top: 3vh;
    border: none;
    border-radius:8px;
    width: 80%;
    height: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #55efc4;
    cursor: pointer;

    
}
.item4{
    margin-top: 3vh;
    border: none;
    border-radius:8px;
    width: 80%;
    height: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff7675;
    cursor: pointer;
    
}
.item5{
    margin-top: 3vh;
    border: none;
    border-radius:8px;
    width: 80%;
    height: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fd79a8;
    cursor: pointer;

}
.closeSidebar{
    margin-top: 2vh;
    border: none;
    border-radius:8px;
    width: 50%;
    height: 8vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff3838;
    cursor: pointer;
    
}
