.preSidebar{
  top: 0;
  left: 0;
  position: fixed;
  width: 80%;
  height: 100%;
  /* border: 2px solid red; */
  /* border-right: 1px solid black; */
  border-radius: 5px;
  box-shadow: 20px 0px 50px grey;
  z-index: 200;
  background-color: white;
}
.topbarBox{
  
  padding-top: 1.2rem;
  font-size: 2rem;
  background-color: #FDF6F0;
}
.circleIcon{
  color: #ff5252;
}
@media screen and (min-width : 750px){
  .preSidebar{
    width: 60%;
  }
}
@media screen and (min-width : 1500px){
  .preSidebar{
    width: 40%;
  }
}